.App {
    text-align: center;
  }

img {
    width: 100%;
    vertical-align:bottom;
 }

 .image-cover-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

.image-cover-row-item {
    border: 1px solid black;
    position: relative;
    overflow: hidden;
  }

.overlay {
    transition: bottom 0.5s ease;
    position: absolute;
    opacity: 0.8;
    bottom: -100%;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 30px;  
    background-color: Black;
    color: goldenrod;
    box-sizing: border-box;
  }

.image-cover-row-item:hover .overlay {
    bottom: 0;
  }

